<app-cargando *ngIf="VerLoading | async" ></app-cargando>
<mat-sidenav-container class="w-100 h-100">
  <mat-toolbar class="FixedCabecera" *ngIf="VerMenu | async">
    <a (click)="sidenav.toggle()">
      <img src="../../assets/imagenes/pollo.webp" 
       alt="Logotipo Da&ntilde;ado"
       class="logoPollo">
  </a>
    <span class="mx-auto Bg-white"> Sistema de Ventas</span>
      <span  [matBadge]="Notificacion | async" 
              matBadgeOverlap="false" 
             [matBadgeHidden]="(Notificacion | async) == 0">
        <a  routerLink="'ventas/carrito"> 
        <mat-icon class="Bg-white">
          shopping_cart
        </mat-icon>
      </a>
    </span>
  </mat-toolbar> 
  <mat-sidenav #sidenav class="NavLateral" *ngIf="VerMenu | async"
               [attr.role]="cerrarNav? 'dialog' : 'navigation'"
               [mode]="cerrarNav ? 'side' : 'over'" 
               fixedInViewport="true" 
               fixedTopGap="70" 
               [opened]="cerrarNav">
      <h1 class="tituloMenu mt-4">
      Pollos Andy's
      </h1>      
      <mat-nav-list *ngFor="let menu of ListaMenu">
          <a mat-list-item 
              [routerLink]="menu.ruta"
              (click)="!cerrarNav ? sidenav.toggle() : ''" 
              routerLinkActive="activar">
              <mat-icon class="mx-1 white">
                  {{ menu.icon }}
              </mat-icon>
              {{ menu.nombre }}
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="contenedor-principal">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>