.contenedor-principal {
  margin-top: 15px;
}
.NavLateral{
  width: 170px;
  height: 100%;
}
.FixedCabecera{
  position: fixed;
  height: 74px;
  padding: 0 25px 0 0;
  z-index: 2;
  background-color: black;
}
.logoPollo{
  margin-top: 12px;
  width: 120px;
  height: 74px;
}
.Bg-white{
  color: white !important;
}
.activar{
  background-color: #FFD54F;
}
.tituloMenu{
  font-size: 25px;
  white-space: pre-wrap;
  text-align: center;
  font-family: "Roboto, Helvetica Neue, sans-serif";
}