<mat-card class="centar bg-pollo text-white">
  <p class="text-center tituloPollo">Pollos Andy's</p>
</mat-card>
<mat-card class="segundo-centrar">
    <mat-card-header>
      <mat-card-title class="mb-3 ml-2 mt-2">Iniciar Sesi&oacute;n</mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="UserForm" >
        <mat-form-field appearance="fill" style="width: 100%;" >
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName="usuario">
          </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%; margin-top: 15px;">
              <mat-label>password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena" (keyup.enter)="LogIn()">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
          <mat-error *ngIf="Validar" style="margin-bottom:5%;">
            contrase&ntilde;a o usuario incorrecto
          </mat-error>
        </mat-card-content>
    <mat-card-actions >
        <button (click)="LogIn()" 
                mat-raised-button 
                color="accent" 
                class="w-100" >
          <mat-icon>login</mat-icon>
          Login</button>
      </mat-card-actions>
</mat-card>
